---
layout: base.njk
title: About SteamOS Unlocked
description: Learn about the creator and purpose of this blog.
---

<h1>About the Author & The Project</h1>

<div class="content">
	<p>This series was born from my obsession with the Steam Deck and the realization that its power is often locked behind the complexity of Linux for newcomers. I wanted to create a guide that was simple, visually clear, and truly beginner-friendly.</p>

	<p>My goal is to take absolute "noobs" through the process of unlocking the full potential of their device—from simple Desktop Mode tweaks to advanced performance optimization and even experimental Nix setups.</p>
</div>

<style>
.content {
	font-size: 1.125rem;
	line-height: 1.7;
	color: var(--text-color-light);
}
</style>
